html {
  scroll-behavior: smooth;
}
.cutetext {
  color: rgb(28, 99, 99);
  text-transform: uppercase;
  font-variant: small-caps;
  padding: 5%;
}

.fontcool {
  font-family: Courgette, cursive;
  color: rgb(5, 61, 61);

}

h1,h2,h3,h4,h5,h6{
	color: #444444;
}

.steel-header .navbar-nav .nav-link{
	color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover{
	color: #ffffff;
}

.site-header .navbar-nav .nav-link:active{
	font-weight: 500;
}

.content-section{
	background: #ffffff;
	padding: 10px 20px;
	border: 2px splod #dddddd;
	border-radius: 5px;
	margin-bottom: 20px;
}

.article-title{
	color: #444444;
}

a.article-title:hover{
	color: #428bca;
	text-decoration: none;
}

.article-content {
	white-space: pre-line;
}
.article-img{
	width: 65px;
	height: 65px;
	margin-right: 16px;
}
.article-metadata{
	padding-left: 1px;
	padding-bottom: 4px;
	border-bottom: 1px solid #e3e3e3;
}

.article-metadata a:hover{
	color: #333;
	text-decoration: none;
}

.article-svg {
	width: 25px;
	height: 25px;
	vertical-align: middle;
}

.account-img{
	height:125px;
	width: 125px;
	margin-right: 20px;
	margin-right: 20px;
	margin-bottom: 16px;
}
.account-heading{
	font-size: 2.5rem;
}