{% extends "layout.html" %}
{% block content %}
	<h3 class="text-center">the Pitch Perfect</h3>
	<div style="box-sizing: border-box;">
		<p>
			They say, <strong><em>"necessity is the mother of invention",</em> </strong> <br> we say;
			<strong><em>"innovation is the air we breath ",</em> </strong> <br>
			<hr>
			This is a platform for young, vibrant, and energetic minds, a space to pitch their ideas and
			have a team of highly skilled interested persons think about the ideas and suggest on the best
			implementable practices and procedures. 
		</p>
		<div>
			The most sustainable, environmental connscious, and economically viable ideas are selected, and the 
			owner of the idea gets a chance to be nominated to express more of their vision. Upon successfull approval, 
			the idea is funded and the owner oversees their dreams come true.
		</div>
		<div>
			<p>Welcome to the Pitch Perfect</p>
		</div>
	</div>
{% endblock content %}